@using SharedResources
@{
    ViewBag.Title = SharedResources.GlobalStrings.Options;
}

@using System.Web.Configuration;
@using SurveyConfiguratorWeb.ConstantsAndMethods

<h2>@SharedResources.GlobalStrings.Language</h2>

<!-- place holder for any alerts or pop up messages-->
<div id="@SharedConstants.cAlertDivId"></div>

<h4>@GlobalStrings.ChooseLanguage</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <select id="@SharedConstants.cLanguageDropDownId" name="@SharedConstants.cLanguageDropDownId">
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@SharedResources.GlobalStrings.Save" class="btn btn-default" />
        </div>
    </div>

}
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>
    $(document).ready(function () {
        try {
            //show alert popup if there's any
            if ('@TempData[SharedConstants.cMessageKey]')
            {
                    $("#" + "@SharedConstants.cAlertDivId").html("<div class='alert alert-danger'>" + "@TempData[SharedConstants.cMessageKey]" + "</div>")
                    setTimeout(function () { $("#" + "@SharedConstants.cAlertDivId").empty() }, 3500);
            }

            //get the selected language from config file
            const tSelectedLanguage = '@WebConfigurationManager.AppSettings[SharedConstants.cLagnaugeAppSettingKey]';

            //get the supported languages array
            let tSupportedLanguagesArray = @Html.Raw(ViewBag.SupportedLanguages);

            //populate the drop down list with the languages
            //and set the selected language to the language stored in the config file
            let tLangaugesDropDownList = $("#" + '@SharedConstants.cLanguageDropDownId')
            $.each(tSupportedLanguagesArray, function (pIndex, pValue) {
                tLangaugesDropDownList.append(`<option value=${pValue} ${pValue === tSelectedLanguage ? "selected" : ""}>${pValue}</option>`)
            })
        }
        catch (ex) {
            //log err
        }
    })
    </script>
}