@model IEnumerable<SurveyConfiguratorWeb.Models.QuestionViewModel>

<table class="table">

    <thead>
        <tr>
            <th>
                @SharedResources.GlobalStrings.Order
            </th>
            <th>
                @SharedResources.GlobalStrings.Text
            </th>
            <th>
                @SharedResources.GlobalStrings.Type
            </th>
            @* invisible to hide the sorting buttons provided by
                the data table component as they're not necessary 
                for this column*@
            <th class="invisible"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink(SharedResources.GlobalStrings.EditOperation, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(SharedResources.GlobalStrings.Details, "Details", new { id = item.Id }) |
                    @Html.ActionLink(SharedResources.GlobalStrings.Delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @* scripts for the datatable component *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

    <script>
        $(document).ready(function () {
            //initialize the datatable
            $("table").DataTable({});
        })
    </script>
}