@model IEnumerable<SurveyConfiguratorWeb.Models.QuestionViewModel>
@using SurveyConfiguratorWeb.ConstantsAndMethods

<table class="table" id="@SharedConstants.cQuestionsTableId">

    <thead>
        <tr>
            <th>
                @SharedResources.GlobalStrings.Order
            </th>
            <th>
                @SharedResources.GlobalStrings.Text
            </th>
            <th>
                @SharedResources.GlobalStrings.Type
            </th>
            @*invisible to hide the sorting buttons provided by
                the data table component as they're not necessary 
                for this column*@
            <th class="invisible"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (States.IsAuthenticated)
                    {
                        @Html.ActionLink(SharedResources.GlobalStrings.EditOperation, SharedConstants.cQuestionEditAction, new { id = item.Id }) <span>|</span>
                    }

                    @Html.ActionLink(SharedResources.GlobalStrings.Details, SharedConstants.cQuestionDetailsAction, new { id = item.Id })

                    @if (States.IsAuthenticated)
                    {
                        <span> | </span>
                        @Html.ActionLink(SharedResources.GlobalStrings.Delete, SharedConstants.cQuestionDeleteAction, new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

