@model SurveyConfiguratorWeb.Models.SliderQuestionOptions

@* start value field *@
<div class="form-group">
    @Html.Label(SharedResources.GlobalStrings.StartValue, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartValue, new { htmlAttributes = new { @class = "form-control", id = "StartValue" } })
        @Html.ValidationMessageFor(model => model.StartValue, "", new { @class = "text-danger" })
    </div>
</div>

@* end value field *@

<div class="form-group">
    @Html.Label(SharedResources.GlobalStrings.EndValue, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.EndValue, new { htmlAttributes = new { @class = "form-control", id = "EndValue" } })
        @Html.ValidationMessageFor(model => model.EndValue, "", new { @class = "text-danger" })
    </div>
</div>

@* start value caption field *@

<div class="form-group">
    @Html.Label(SharedResources.GlobalStrings.StartValueCaption, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartValueCaption, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.StartValueCaption, "", new { @class = "text-danger" })
    </div>
</div>

@* end value caption field *@

<div class="form-group">
    @Html.Label(SharedResources.GlobalStrings.EndValueCaption, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.EndValueCaption, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EndValueCaption, "", new { @class = "text-danger" })
    </div>
</div>

