@model SurveyConfiguratorWeb.Models.QuestionViewModel
@using SurveyConfiguratorWeb.ConstantsAndMethods
@using SharedResources;

@{
    ViewBag.Title = SharedResources.GlobalStrings.Delete;
}

<h2>@SharedResources.GlobalStrings.DeleteQuestionConfirm</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @SharedResources.GlobalStrings.Text
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Order
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Type
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group d-flex flex-row gap-2 mt-2">
            <input type="submit" value="@SharedResources.GlobalStrings.Delete" class="btn btn-success" />
            @Html.ActionLink(GlobalStrings.Cancel, SharedConstants.cQuestionsIndexAction, SharedConstants.cQuestionsController, new { @class = "btn btn-danger" })
        </div>
    }
</div>
