@model SurveyConfiguratorWeb.Models.QuestionViewModel

@{
    ViewBag.Title = SharedResources.GlobalStrings.Delete;
}

<h3>@SharedResources.GlobalStrings.DeleteQuestionConfirm</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedResources.GlobalStrings.Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Order
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@SharedResources.GlobalStrings.Delete" class="btn btn-default" /> |
            @Html.ActionLink(SharedResources.GlobalStrings.BackToList, "Index")
        </div>
    }
</div>
