@model SurveyConfiguratorWeb.Models.QuestionViewModel

@{
    ViewBag.Title = SharedResources.GlobalStrings.Details;
    const string cQuestionTypeInfoId = "QuestionTypeInfo";
}

<h2>@SharedResources.GlobalStrings.QuestionDetails</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedResources.GlobalStrings.Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Order
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        
        <span id="@cQuestionTypeInfoId">

        </span>

    </dl>
</div>
<p>
    @Html.ActionLink(SharedResources.GlobalStrings.EditOperation, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(SharedResources.GlobalStrings.BackToList, "Index")
</p>


@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function ()
    {
        const tQuestionId = @Model.Id;

        //get the partial view containing the appropriate
        //question-type options
        $.ajax({
            url: '@Url.Action("GetQuestionTypeDetails", "Questions")',
            type: "GET",
            data: { id: tQuestionId },
            success: function (partial) {
                $('#'+'@cQuestionTypeInfoId').empty();
                $('#'+'@cQuestionTypeInfoId').html(partial);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        })
 });
</script>