@model SurveyConfiguratorWeb.Models.QuestionViewModel
@using SurveyConfiguratorWeb.ConstantsAndMethods
@using SharedResources

@{
    ViewBag.Title = SharedResources.GlobalStrings.Details;
    const string cQuestionTypeInfoId = "QuestionTypeInfo";
}

<h2>@SharedResources.GlobalStrings.QuestionDetails</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @SharedResources.GlobalStrings.Text
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Order
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @SharedResources.GlobalStrings.Type
        </dt>

        <dd style="margin-inline-start: 0">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <span id="@cQuestionTypeInfoId">

        </span>

    </dl>
</div>
<div class="form-group d-flex flex-row gap-2 mt-2">
    @Html.ActionLink(SharedResources.GlobalStrings.EditOperation, SharedConstants.cQuestionEditAction, new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink(GlobalStrings.Cancel, SharedConstants.cQuestionsIndexAction, SharedConstants.cQuestionsController, new { @class = "btn btn-danger" })
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function ()
    {
        const tQuestionId = @Model.Id;

        //get the partial view containing the appropriate
        //question-type options
        $.ajax({
            url: '@Url.Action(SharedConstants.cGetQuestionTypeDetailsFunction, SharedConstants.cQuestionsController)',
            type: "GET",
            data: { id: tQuestionId },
            success: function (partial) {
                $('#'+'@cQuestionTypeInfoId').empty();
                $('#'+'@cQuestionTypeInfoId').html(partial);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        })
 });
</script>