@model IEnumerable<SharedResources.Models.Question>

@{
    ViewBag.Title = SharedResources.GlobalStrings.Questions;
}

<h2>@SharedResources.GlobalStrings.Questions</h2>

<p>
    @Html.ActionLink(SharedResources.GlobalStrings.AddQuestion, "Create", "Questions")
</p>
<table class="table">
    <tr>
        <th>
            @SharedResources.GlobalStrings.Text
        </th>
        <th>
            @SharedResources.GlobalStrings.Order
        </th>
        <th>
            @SharedResources.GlobalStrings.Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink(SharedResources.GlobalStrings.EditOperation, "Edit", new { id = item.Id }) |
                @Html.ActionLink(SharedResources.GlobalStrings.Details, "Details", new { id = item.Id }) |
                @Html.ActionLink(SharedResources.GlobalStrings.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
