@model IEnumerable<SurveyConfiguratorWeb.Models.QuestionViewModel>

@{
    ViewBag.Title = SharedResources.GlobalStrings.Questions;
    const string cAlertDivId = "alert";
}
<!-- place holder for any alerts or pop up messages-->
<div id="@cAlertDivId"></div>

<h2>@SharedResources.GlobalStrings.Questions</h2>
<p>
    @Html.ActionLink(SharedResources.GlobalStrings.AddQuestion, "Create", "Questions")
</p>
<span>
    @Html.Partial("PartialViews/_QuestionsList", Model)
</span>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @* scripts for the datatable component *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

    <script>
        $(document).ready(async function () {

            /// <summary>
            //get the database checksum value from the controller
            /// </summary>
            async function GetChecksum() {
                const tCheckSum = await $.ajax({
                    url: '@Url.Action("GetChecksumValue", "Questions")',
                    type: "GET",
                })
                return tCheckSum;
            }

            /// <summary>
            /// this functions checks whether the database has changed
            /// by comparing the checksum of the database against the
            /// checksum obtained first when visiting this view
            /// if the database is changed re-render the partial view
            /// containing the questions table
            /// </summary>
            async function CheckDatabaseForChanges() {
                //get new checksum value
                const tNewChecksumValue = await GetChecksum();

                if (tNewChecksumValue !== tOriginalChecksumValue) {
                    //update the value of the orignal checksum
                    tOriginalChecksumValue = tNewChecksumValue;

                    //get the updated partial view
                    $.ajax({
                        url: '@Url.Action("GetQuestionsListPartialView", "Questions")',
                        type: "GET",
                        success: function (pPartial) {
                            //re-render partial view with new data
                            $("span").empty();
                            $("span").html(pPartial);
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                        }
                    })
                }
            }

            //show alert popup if there's any
            if ('@TempData["Message"]') {
                $("#"+"@cAlertDivId").html("<div class='alert alert-danger'>"+"@TempData["Message"]"+"</div>")
                setTimeout(function () { $("#"+"@cAlertDivId").empty() }, 3500);
            }

            //get original checksum of db
            let tOriginalChecksumValue = await GetChecksum();

            //call the data base checker function periodically (every 10 secnods)
            let tDatabaseCheckerInterval = setInterval(CheckDatabaseForChanges,10000)
        })
    </script>
}