@model IEnumerable<SurveyConfiguratorWeb.Models.QuestionViewModel>

@{
    ViewBag.Title = SharedResources.GlobalStrings.Questions;
    const string cAlertDivId = "alert";
}
<!-- place holder for any alerts or pop up messages-->
<div id="@cAlertDivId"></div>

<h2>@SharedResources.GlobalStrings.Questions</h2>
<p>
    @Html.ActionLink(SharedResources.GlobalStrings.AddQuestion, "Create", "Questions")
</p>
<span>
    @Html.Partial("PartialViews/_QuestionsList", Model)
</span>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

    <script>
        $(document).ready(function () {
            if ('@TempData["Message"]') {
                $("#"+"@cAlertDivId").html("<div class='alert alert-danger'>"+"@TempData["Message"]"+"</div>")
                setTimeout(function () { $("#"+"@cAlertDivId").empty() }, 3500);
            }
        })
    </script>
}