@model SurveyConfiguratorWeb.Models.LogIn.RegisterViewModel
@using SharedResources;
@using SurveyConfiguratorWeb.ConstantsAndMethods;

@{
    ViewBag.Title = GlobalStrings.RegisterNewUser;
}

<h2>@GlobalStrings.RegisterNewUser</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal d-flex flex-column gap-2">

    <div class="form-group d-flex flex-column gap-1">
        @Html.Label(GlobalStrings.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-column gap-1">
        @Html.Label(GlobalStrings.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-column gap-1">
        @Html.Label(GlobalStrings.Passsword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row gap-1 mt-2">
        <input type="submit" value="@GlobalStrings.Register" class="btn btn-success" />
        @Html.ActionLink(GlobalStrings.Cancel, SharedConstants.cQuestionsIndexAction, SharedConstants.cQuestionsController, null, new {@class = "btn btn-danger"})
    </div>
</div>
}

